<%-include("partials/header")%>

<!-- Making area for the all content-->
    <div class="container-content">
        <!--arrange page header area-->
        <div class="page-header-area">
            <h1 class="page-header"><%= myHomePage %></h1>
        </div> 
        <div class="container-restricted-block-text-area">
            <!--arrange all content for h1 and p tags-->
                <div class="block-header-area">
                    <h3 class="block-header">
                        Learning
                    </h3>
                </div>
                <!--text area-->
                <div class="block-text-area">
                    <p  class="block-content"><%= content1.substring(0,100)+"..." %><a style="padding-left:0.5%;"href="/learning">Read More</a></p>                   
                </div>
                <hr>
                <!--new content adding area-->
               <% for(let i=0;i<content.length;i++){ %>
                    <div class="block-header-area">
                        <h3 class="block-header">
                            <%= contentHeader[i] %>
                        </h3>
                    </div>
                    <!--text area-->
                    <div class="block-text-area">
                        <p class="block-content"><%= content[i].substring(0,100)+"..."%> <a style="padding-left:0.5%;"href="/<%= contentHeader[i] %>">Read More</a></p>                       
                    </div>
                    <hr>

              <% } %>
                           
        </div>       
    </div>
    <!--
    <script>
        const pTags = document.querySelectorAll(".block-content");
        pTags.forEach((element)=>{
            let innerText = element.innerText;
            let newInnerText = innerText.substring(0,100);
            element.innerHTML = newInnerText+"..."+"<a href='/'>Read More</a>"
        })
    </script> 
    -->
     

<%-include("partials/footer")%>